20230824.json
[
    {
        "id": "3bcac8835da98423",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e53845c015727550",
        "type": "serial in",
        "z": "3bcac8835da98423",
        "name": "",
        "serial": "90c2d770290e3da8",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "b3d5aeb298f9229a",
                "61c107f6359d5602",
                "77ba457cb0a2d959"
            ]
        ]
    },
    {
        "id": "b3d5aeb298f9229a",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Ea = parseFloat(output[2]);\nvar msg = {payload:Ea};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "862e217e24bf96ae",
                "e1366923d88a0dc5"
            ]
        ]
    },
    {
        "id": "862e217e24bf96ae",
        "type": "ui_gauge",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Light",
        "label": "Lux",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "61c107f6359d5602",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar temp = parseFloat(output[0]);\nvar msg = {payload:temp};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "c7b9d7681f880626",
                "ab556b58122226d1"
            ]
        ]
    },
    {
        "id": "c7b9d7681f880626",
        "type": "ui_gauge",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "77ba457cb0a2d959",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar RH = parseFloat(output[1]);\nvar msg = {payload:RH};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [
            [
                "f503bba010e93ce3",
                "d4d7cd9ccd02e5ce"
            ]
        ]
    },
    {
        "id": "f503bba010e93ce3",
        "type": "ui_gauge",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 6,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "ab556b58122226d1",
        "type": "ui_chart",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 5,
        "width": 13,
        "height": 5,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d4d7cd9ccd02e5ce",
        "type": "ui_chart",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 7,
        "width": 13,
        "height": 5,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e1366923d88a0dc5",
        "type": "ui_chart",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 3,
        "width": 13,
        "height": 5,
        "label": "Lux",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7f8bada8f0b3377e",
        "type": "ui_text",
        "z": "3bcac8835da98423",
        "group": "b77ded9d1d746205",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "제주대학교 원예환경전공",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "90c2d770290e3da8",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b77ded9d1d746205",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "190c058d17d2c22c",
        "order": 1,
        "disp": true,
        "width": 19
    },
    {
        "id": "190c058d17d2c22c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
