ESP32_Node.txt
[{"id":"8017c510.3b20e8","type":"tab","label":"SF_OP1_Cam Capture","disabled":false,"info":""},{"id":"4cd349c1.99f608","type":"inject","z":"8017c510.3b20e8","name":"Debug-Image Capture","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":120,"wires":[["b4c554f0.4eb738"]]},{"id":"b4c554f0.4eb738","type":"http request","z":"8017c510.3b20e8","name":"Image Capture Command","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.0.15/capture","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":120,"wires":[["926394d5.5987e8","b127fd37.fdb6d"]]},{"id":"926394d5.5987e8","type":"base64","z":"8017c510.3b20e8","name":"","action":"","property":"payload","x":700,"y":120,"wires":[["6757be84.7b83e","a9ba045d.38ac48"]]},{"id":"6757be84.7b83e","type":"template","z":"8017c510.3b20e8","name":"Img width Setting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"640px\" height=\"480px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":710,"y":380,"wires":[["e09cca2b.709928"]]},{"id":"e09cca2b.709928","type":"ui_template","z":"8017c510.3b20e8","group":"b1d5cbd6.805608","name":"Capture Image","order":3,"width":13,"height":10,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":560,"wires":[[]]},{"id":"a9ba045d.38ac48","type":"image","z":"8017c510.3b20e8","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":800,"y":260,"wires":[]},{"id":"558e7039.fba77","type":"ui_button","z":"8017c510.3b20e8","name":"","group":"b1d5cbd6.805608","order":20,"width":6,"height":1,"passthru":false,"label":"Camera Capture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":180,"y":200,"wires":[["b4c554f0.4eb738"]]},{"id":"7f7ef707.167bd8","type":"file","z":"8017c510.3b20e8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":430,"y":380,"wires":[[]]},{"id":"b127fd37.fdb6d","type":"function","z":"8017c510.3b20e8","name":"","func":"var d = new Date();\nvar t = d.getTime();\nvar year = d.getFullYear();\nvar month = d.getMonth()+1; \nif(month.toString().length == 1) {\n    var month = '0'+month;\n}\nvar day = d.getDate();\nvar hour  = d.getHours();\nif(hour < 10) {\n    var hour = '0'+hour;\n}\nvar min = d.getMinutes();\nif(min < 10) {\n    var min = '0'+min;\n}\nvar sec = d.getSeconds();\nif(sec < 10) {\n    var sec = '0'+sec;\n}\nmsg.date = t;\nmsg.filename = \"C:/test_image/\"+year+month+day+hour+min+sec+\".jpg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":380,"wires":[["7f7ef707.167bd8","bc978ce5.e12c1"]]},{"id":"bc978ce5.e12c1","type":"debug","z":"8017c510.3b20e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":580,"wires":[]},{"id":"a9000149.b7ecd","type":"ui_template","z":"8017c510.3b20e8","group":"b1d5cbd6.805608","name":"Strreaming Image","order":1,"width":13,"height":10,"format":"<div>\n    <img src=\"http://192.168.0.15:81/stream\" width=\"640px\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":60,"wires":[[]]},{"id":"d465c384.1023d","type":"ui_text","z":"8017c510.3b20e8","group":"b1d5cbd6.805608","order":14,"width":6,"height":1,"name":"","label":"Live","format":"{{msg.payload}}","layout":"row-spread","x":210,"y":700,"wires":[]},{"id":"9ee7a5c7.65cb68","type":"ui_text","z":"8017c510.3b20e8","group":"b1d5cbd6.805608","order":16,"width":6,"height":1,"name":"","label":"Capture Image","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":700,"wires":[]},{"id":"b1d5cbd6.805608","type":"ui_group","name":"Cam Capture","tab":"eabe9ba8.3bb638","order":1,"disp":true,"width":27,"collapse":false},{"id":"eabe9ba8.3bb638","type":"ui_tab","name":"SF_OP1_Cam Capture","icon":"dashboard","order":4,"disabled":false,"hidden":false}]
