MyHouse_Ex1.json
[
    {
        "id": "cdba89c3254098d3",
        "type": "tab",
        "label": "플로우 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e42a449d26319f34",
        "type": "serial in",
        "z": "cdba89c3254098d3",
        "name": "",
        "serial": "0ea2fcaaccbfa388",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "06ae31b005533539",
                "c093eb142d6f6a77",
                "61ffa580771147ef"
            ]
        ]
    },
    {
        "id": "06ae31b005533539",
        "type": "function",
        "z": "cdba89c3254098d3",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar temp = parseFloat(output[0]);\nvar msg = {payload:temp};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "cfdce754a2e5826a",
                "4aca8fcc7619a743"
            ]
        ]
    },
    {
        "id": "c093eb142d6f6a77",
        "type": "function",
        "z": "cdba89c3254098d3",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar humidity = parseFloat(output[1]);\nvar msg = {payload:humidity};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "f8a5603e5e2ae45a",
                "16fbfeccf4dd7d1a"
            ]
        ]
    },
    {
        "id": "61ffa580771147ef",
        "type": "function",
        "z": "cdba89c3254098d3",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Dtemp = parseFloat(output[2]);\nvar msg = {payload:Dtemp};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "6b89ec9982451231",
                "3813d445443b6630"
            ]
        ]
    },
    {
        "id": "cfdce754a2e5826a",
        "type": "ui_gauge",
        "z": "cdba89c3254098d3",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 1,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "Temperature",
        "label": "'C",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "f8a5603e5e2ae45a",
        "type": "ui_gauge",
        "z": "cdba89c3254098d3",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 3,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "6b89ec9982451231",
        "type": "ui_gauge",
        "z": "cdba89c3254098d3",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 5,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "Dewpoint Temp",
        "label": "'C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "4aca8fcc7619a743",
        "type": "ui_chart",
        "z": "cdba89c3254098d3",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 2,
        "width": 18,
        "height": 6,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "16fbfeccf4dd7d1a",
        "type": "ui_chart",
        "z": "cdba89c3254098d3",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 4,
        "width": 18,
        "height": 6,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3813d445443b6630",
        "type": "ui_chart",
        "z": "cdba89c3254098d3",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 6,
        "width": 18,
        "height": 6,
        "label": "Dewpoint Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0ea2fcaaccbfa388",
        "type": "serial-port",
        "serialport": "COM22",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b77ded9d1d746205",
        "type": "ui_group",
        "name": "환경",
        "tab": "190c058d17d2c22c",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": false,
        "className": ""
    },
    {
        "id": "190c058d17d2c22c",
        "type": "ui_tab",
        "name": "스마트팜",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
