PlantFactory_Water.json
[
    {
        "id": "a065aa997e713404",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "70a44bdf475a3f19",
        "type": "serial in",
        "z": "a065aa997e713404",
        "name": "",
        "serial": "90c2d770290e3da8",
        "x": 117.28691101074219,
        "y": 315.678955078125,
        "wires": [
            [
                "ce341b8a56ab27ce",
                "84bb9b77f068af74",
                "df8da55904e4761a",
                "5597333bb3d67725",
                "70a592102deab7b5",
                "bbb53038875a5a7d"
            ]
        ]
    },
    {
        "id": "ce341b8a56ab27ce",
        "type": "function",
        "z": "a065aa997e713404",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Ea = parseFloat(output[0]);\nvar msg = {payload:Ea};\nreturn [msg];\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 120,
        "wires": [
            [
                "bd059cf48b79c836",
                "1802792c8d1b4097"
            ]
        ]
    },
    {
        "id": "bd059cf48b79c836",
        "type": "ui_gauge",
        "z": "a065aa997e713404",
        "name": "",
        "group": "27c0e1aef6366054",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Water Count",
        "label": "bite",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "84bb9b77f068af74",
        "type": "function",
        "z": "a065aa997e713404",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar WC = parseFloat(output[1]);\nvar msg = {payload:WC};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 220,
        "wires": [
            [
                "d353da41556481a0",
                "eacd07e88fbeb53d"
            ]
        ]
    },
    {
        "id": "df8da55904e4761a",
        "type": "function",
        "z": "a065aa997e713404",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar temp = parseFloat(output[2]);\nvar msg = {payload:temp};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 340,
        "wires": [
            [
                "88c240837cba3485",
                "7243dc3321c7c36c"
            ]
        ]
    },
    {
        "id": "d353da41556481a0",
        "type": "ui_gauge",
        "z": "a065aa997e713404",
        "name": "",
        "group": "27c0e1aef6366054",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Water Content",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "88c240837cba3485",
        "type": "ui_gauge",
        "z": "a065aa997e713404",
        "name": "",
        "group": "27c0e1aef6366054",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Total Water Value",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "5597333bb3d67725",
        "type": "function",
        "z": "a065aa997e713404",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar RH = parseFloat(output[3]);\nvar msg = {payload:RH};\nreturn [msg];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 311.28407287597656,
        "y": 438.82669830322266,
        "wires": [
            [
                "560929a056231c06",
                "23b13fb63bf82f5b"
            ]
        ]
    },
    {
        "id": "560929a056231c06",
        "type": "ui_gauge",
        "z": "a065aa997e713404",
        "name": "",
        "group": "27c0e1aef6366054",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Number",
        "label": "ea",
        "format": "{{value}}",
        "min": 0,
        "max": "22",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 484.2869300842285,
        "y": 439.65621185302734,
        "wires": []
    },
    {
        "id": "bbb53038875a5a7d",
        "type": "function",
        "z": "a065aa997e713404",
        "name": "",
        "func": "var newDate = new Date();\nvar date = newDate.toLocaleDateString();\nvar time = newDate.toLocaleTimeString('en-US', { hour12: false});\n\nmsg.payload = date + \",\" + time + \",\" + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [
            [
                "3fbb6d657e9e883e"
            ]
        ]
    },
    {
        "id": "3fbb6d657e9e883e",
        "type": "file",
        "z": "a065aa997e713404",
        "name": "",
        "filename": "C://Data/Environment.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 570,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "1dfab2255cca34cc",
        "type": "ui_gauge",
        "z": "a065aa997e713404",
        "name": "",
        "group": "27c0e1aef6366054",
        "order": 5,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Relay Value",
        "label": "ON_OFF",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 540,
        "wires": []
    },
    {
        "id": "70a592102deab7b5",
        "type": "function",
        "z": "a065aa997e713404",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Relay = parseFloat(output[4]);\nvar msg = {payload:Relay};\nreturn [msg];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "1dfab2255cca34cc",
                "718d161a436c508a"
            ]
        ]
    },
    {
        "id": "1802792c8d1b4097",
        "type": "ui_chart",
        "z": "a065aa997e713404",
        "name": "",
        "group": "27c0e1aef6366054",
        "order": 6,
        "width": 6,
        "height": 5,
        "label": "WC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "eacd07e88fbeb53d",
        "type": "ui_chart",
        "z": "a065aa997e713404",
        "name": "",
        "group": "27c0e1aef6366054",
        "order": 7,
        "width": 6,
        "height": 5,
        "label": "WCN",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7243dc3321c7c36c",
        "type": "ui_chart",
        "z": "a065aa997e713404",
        "name": "",
        "group": "27c0e1aef6366054",
        "order": 8,
        "width": 6,
        "height": 5,
        "label": "TWV",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "23b13fb63bf82f5b",
        "type": "ui_chart",
        "z": "a065aa997e713404",
        "name": "",
        "group": "27c0e1aef6366054",
        "order": 9,
        "width": 6,
        "height": 5,
        "label": "Number",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "718d161a436c508a",
        "type": "ui_chart",
        "z": "a065aa997e713404",
        "name": "",
        "group": "27c0e1aef6366054",
        "order": 10,
        "width": 6,
        "height": 5,
        "label": "Relay",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "90c2d770290e3da8",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "27c0e1aef6366054",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "f37425eb1843a070",
        "order": 1,
        "disp": true,
        "width": 30
    },
    {
        "id": "f37425eb1843a070",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
