SmartFarm_Ex5.json+DB.json
[
    {
        "id": "3bcac8835da98423",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e53845c015727550",
        "type": "serial in",
        "z": "3bcac8835da98423",
        "name": "",
        "serial": "0ea2fcaaccbfa388",
        "x": 159.28691864013672,
        "y": 214.67895317077637,
        "wires": [
            [
                "b3d5aeb298f9229a",
                "ab977307206ff427",
                "61c107f6359d5602",
                "77ba457cb0a2d959",
                "a8fb9a8b2f02d918",
                "212a75dd871ca1bc",
                "d15299ba3a9b6352",
                "8d9fbdab65022778",
                "c07ebc7caedac375",
                "d9571a6a4d6aa3f2",
                "cc44710fd365f123",
                "dac6acc3022980de"
            ]
        ]
    },
    {
        "id": "b3d5aeb298f9229a",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Ea = parseFloat(output[0]);\nvar msg = {payload:Ea};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 344.2897644042969,
        "y": 98.64483833312988,
        "wires": [
            [
                "862e217e24bf96ae",
                "b10287863e3ce18f"
            ]
        ]
    },
    {
        "id": "862e217e24bf96ae",
        "type": "ui_gauge",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Light",
        "label": "Lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 521.2926406860352,
        "y": 98.83804702758789,
        "wires": []
    },
    {
        "id": "ab977307206ff427",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar WC = parseFloat(output[1]);\nvar msg = {payload:WC};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350.01424407958984,
        "y": 182.00566864013672,
        "wires": [
            [
                "23695fd7e65a84bf",
                "3fb6a89ec14c70ec"
            ]
        ]
    },
    {
        "id": "61c107f6359d5602",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar temp = parseFloat(output[2]);\nvar msg = {payload:temp};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 356.0142364501953,
        "y": 261.00566482543945,
        "wires": [
            [
                "c7b9d7681f880626",
                "aaaec19323254bce"
            ]
        ]
    },
    {
        "id": "23695fd7e65a84bf",
        "type": "ui_gauge",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 25,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Water Content",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 534.2840728759766,
        "y": 181.3835096359253,
        "wires": []
    },
    {
        "id": "c7b9d7681f880626",
        "type": "ui_gauge",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 11,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 533.2869415283203,
        "y": 261.37495613098145,
        "wires": []
    },
    {
        "id": "77ba457cb0a2d959",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar RH = parseFloat(output[3]);\nvar msg = {payload:RH};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 353.2840805053711,
        "y": 337.826696395874,
        "wires": [
            [
                "f503bba010e93ce3",
                "2c29237b63ae80e1"
            ]
        ]
    },
    {
        "id": "f503bba010e93ce3",
        "type": "ui_gauge",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 18,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 526.286937713623,
        "y": 338.6562099456787,
        "wires": []
    },
    {
        "id": "bb355dddceac7935",
        "type": "serial out",
        "z": "3bcac8835da98423",
        "name": "",
        "serial": "0ea2fcaaccbfa388",
        "x": 956.2812805175781,
        "y": 516.5651655197144,
        "wires": []
    },
    {
        "id": "e1224ee6fc727629",
        "type": "ui_switch",
        "z": "3bcac8835da98423",
        "name": "",
        "label": "Light (광)",
        "tooltip": "",
        "group": "b77ded9d1d746205",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "a",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "b",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 755.2897720336914,
        "y": 467.411826133728,
        "wires": [
            [
                "bb355dddceac7935"
            ]
        ]
    },
    {
        "id": "d7c18afc3b17d51f",
        "type": "ui_switch",
        "z": "3bcac8835da98423",
        "name": "",
        "label": "Automation (자동유무)",
        "tooltip": "",
        "group": "b77ded9d1d746205",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "x",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "y",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 723.2871246337891,
        "y": 411.4997549057007,
        "wires": [
            [
                "bb355dddceac7935"
            ]
        ]
    },
    {
        "id": "e837b3367fd207e5",
        "type": "ui_switch",
        "z": "3bcac8835da98423",
        "name": "",
        "label": "Pump (펌프)",
        "tooltip": "",
        "group": "b77ded9d1d746205",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "c",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "d",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 745.284065246582,
        "y": 521.4913578033447,
        "wires": [
            [
                "bb355dddceac7935"
            ]
        ]
    },
    {
        "id": "f37d92b988fe289a",
        "type": "ui_switch",
        "z": "3bcac8835da98423",
        "name": "",
        "label": "Windows (창문)",
        "tooltip": "",
        "group": "b77ded9d1d746205",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "e",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "f",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 737.2813034057617,
        "y": 577.4913129806519,
        "wires": [
            [
                "bb355dddceac7935"
            ]
        ]
    },
    {
        "id": "8457ecda28b40906",
        "type": "ui_switch",
        "z": "3bcac8835da98423",
        "name": "",
        "label": "Fan (환기팬)",
        "tooltip": "",
        "group": "b77ded9d1d746205",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "g",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "h",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740.292610168457,
        "y": 635.4970932006836,
        "wires": [
            [
                "bb355dddceac7935"
            ]
        ]
    },
    {
        "id": "a8fb9a8b2f02d918",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Auto = parseFloat(output[4]);\nvar msg = {payload:Auto};\n\nif(msg.payload == 1){\n    msg.payload = 'x';\n} \nelse {\n    msg.payload = 'y';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 352.01422119140625,
        "y": 410.00566482543945,
        "wires": [
            [
                "d7c18afc3b17d51f"
            ]
        ]
    },
    {
        "id": "212a75dd871ca1bc",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar LightValue = parseFloat(output[5]);\nvar msg = {payload:LightValue};\n\nif(msg.payload == 1){\n    msg.payload = 'a';\n} \nelse {\n    msg.payload = 'b';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 349.01422119140625,
        "y": 464.00565338134766,
        "wires": [
            [
                "e1224ee6fc727629"
            ]
        ]
    },
    {
        "id": "d15299ba3a9b6352",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar FanValue = parseFloat(output[6]);\nvar msg = {payload:FanValue};\n\nif(msg.payload == 1){\n    msg.payload = 'g';\n} \nelse {\n    msg.payload = 'h';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 357.0142364501953,
        "y": 632.0056858062744,
        "wires": [
            [
                "8457ecda28b40906"
            ]
        ]
    },
    {
        "id": "8d9fbdab65022778",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar PumpValue = parseFloat(output[7]);\nvar msg = {payload:PumpValue};\n\nif(msg.payload == 1){\n    msg.payload = 'c';\n} \nelse {\n    msg.payload = 'd';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 353.2869110107422,
        "y": 524.8352127075195,
        "wires": [
            [
                "e837b3367fd207e5"
            ]
        ]
    },
    {
        "id": "c07ebc7caedac375",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar ServoValue = parseFloat(output[8]);\nvar msg = {payload:ServoValue};\n\nif(msg.payload == 1){\n    msg.payload = 'e';\n} \nelse {\n    msg.payload = 'f';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 353.01422119140625,
        "y": 577.0056762695312,
        "wires": [
            [
                "f37d92b988fe289a"
            ]
        ]
    },
    {
        "id": "b10287863e3ce18f",
        "type": "ui_chart",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 5,
        "width": 10,
        "height": 5,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 522.2925872802734,
        "y": 142.27840423583984,
        "wires": [
            []
        ]
    },
    {
        "id": "3fb6a89ec14c70ec",
        "type": "ui_chart",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 26,
        "width": 10,
        "height": 5,
        "label": "Water Content",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 551.2840423583984,
        "y": 219.2812271118164,
        "wires": [
            []
        ]
    },
    {
        "id": "aaaec19323254bce",
        "type": "ui_chart",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 12,
        "width": 10,
        "height": 5,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 545.2897796630859,
        "y": 299.2812271118164,
        "wires": [
            []
        ]
    },
    {
        "id": "2c29237b63ae80e1",
        "type": "ui_chart",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 19,
        "width": 10,
        "height": 5,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 528.2869110107422,
        "y": 382.2783889770508,
        "wires": [
            []
        ]
    },
    {
        "id": "a2b9b1a6a47311aa",
        "type": "Stackhero-MySQL",
        "z": "3bcac8835da98423",
        "server": "2745a19f4f5fe9c0",
        "name": "",
        "x": 840,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "395dc4af1da07461",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var obj = JSON.parse(msg.payload);\n\nvar newDate = new Date();\nvar date = newDate.toLocaleDateString();\nvar time = newDate.toLocaleTimeString('en-US', { hour12: false});\n\nfunction getTimeStamp() {\n  var d = new Date();\n  var s =\n    leadingZeros(d.getFullYear(), 4) + '-' +\n    leadingZeros(d.getMonth() + 1, 2) + '-' +\n    leadingZeros(d.getDate(), 2) + ' ' +\n\n    leadingZeros(d.getHours(), 2) + ':' +\n    leadingZeros(d.getMinutes(), 2) + ':' +\n    leadingZeros(d.getSeconds(), 2);\n\n  return s;\n}\n\nfunction leadingZeros(n, digits) {\n  var zero = '';\n  n = n.toString();\n\n  if (n.length < digits) {\n    for (i = 0; i < digits - n.length; i++)\n      zero += '0';\n  }\n  return zero + n;\n}\n\nmsg.topic = \"INSERT INTO TestDB.sensor(light, water, temp, humidity, AutoValue, LightValue, FanValue, PumpValue, ServoValue, date)\";\nmsg.topic += \" VALUES(\" + obj['light'] + \", \" + obj['water'] + \", \" +  obj['temp'] + \", \" + obj['humidity'] + \", \" + obj['AutoValue'] + \", \" +  obj['LightValue'] + \", \" +  obj['FanValue'] + \", \" + obj['PumpValue'] + \", \" + obj['ServoValue'] +  \",  current_timestamp());\";\nmsg.payload = { \"light\":0, \"water\":0, \"temp\":0, \"humidity\":0, \"AutoValue\":0, \"LightValue\":0, \"FanValue\":0, \"PumpValue\":0, \"ServoValue\":0, \"date\": \"2021-01-03 00:00:00\" }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 780,
        "wires": [
            [
                "a2b9b1a6a47311aa"
            ]
        ]
    },
    {
        "id": "d9571a6a4d6aa3f2",
        "type": "ui_text",
        "z": "3bcac8835da98423",
        "group": "b77ded9d1d746205",
        "order": 2,
        "width": 16,
        "height": 1,
        "name": "",
        "label": "수신되는 환경자료",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "f7464c68721caa2e",
        "type": "file",
        "z": "3bcac8835da98423",
        "name": "",
        "filename": "D://Data/Environment.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 610,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "cc44710fd365f123",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var newDate = new Date();\nvar date = newDate.toLocaleDateString();\nvar time = newDate.toLocaleTimeString('en-US', { hour12: false});\n\nmsg.payload = date + \",\" + time + \",\" + msg.payload;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 700,
        "wires": [
            [
                "f7464c68721caa2e"
            ]
        ]
    },
    {
        "id": "dac6acc3022980de",
        "type": "csv",
        "z": "3bcac8835da98423",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "light, water, temp, humidity, AutoValue, LightValue, FanValue, PumpValue, ServoValue",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "393517f1fffec41f"
            ]
        ]
    },
    {
        "id": "ea671afd1a1eefce",
        "type": "inject",
        "z": "3bcac8835da98423",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO sensor;",
        "payload": "{\"light\":0,\"water\":0,\"temp\":0,\"humidity\":0,\"AutoValue\":0,\"LightValue\":0,\"FanValue\":0,\"PumpValue\":0,\"ServoValue\":0,\"date\":\"2021-01-03 00:00:00\"}",
        "payloadType": "json",
        "x": 230,
        "y": 840,
        "wires": [
            [
                "395dc4af1da07461"
            ]
        ]
    },
    {
        "id": "393517f1fffec41f",
        "type": "json",
        "z": "3bcac8835da98423",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 470,
        "y": 760,
        "wires": [
            [
                "395dc4af1da07461"
            ]
        ]
    },
    {
        "id": "f57d555b7681f7dc",
        "type": "inject",
        "z": "3bcac8835da98423",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "b37acd3351efe642"
            ]
        ]
    },
    {
        "id": "b37acd3351efe642",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "msg.topic = \"SELECT * FROM smartcyy.sensor WHERE DATE(date) BETWEEN :sdate AND :edate order by ID desc limit 100;\";\n\nvar vs = global.get('start_date');\nvar ve = global.get('end_date');\n\nvar vsdate = new Date(vs);\nvar vedate = new Date(ve);\n\nvar vsdd = vsdate.getDate();\nif(vsdd < 10) vsdd = '0' + vsdd;\nvar vsmm = vsdate.getMonth()+1;\nvar vsyy = vsdate.getFullYear();\n\nvar vedd = vedate.getDate();\nif(vedd < 10) vedd = '0' + vedd;\nvar vemm = vedate.getMonth()+1;\nvar veyy = vedate.getFullYear();\n\nvar vsday = vsyy + '-' + vsmm + '-' + vsdd;\nvar veday = veyy + '-' + vemm + '-' + vedd;\n\n\n// msg.payload = { sdate: '2021-01-15', edate: '2021-01-15' };\nmsg.payload = { sdate: vsday, edate: veday };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 344,
        "y": 1039.0000190734863,
        "wires": [
            [
                "15e9bf634f337d7a",
                "72aff1ad488368e7"
            ]
        ]
    },
    {
        "id": "747cc72af1f4b05e",
        "type": "debug",
        "z": "3bcac8835da98423",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1020,
        "wires": []
    },
    {
        "id": "15e9bf634f337d7a",
        "type": "Stackhero-MySQL",
        "z": "3bcac8835da98423",
        "server": "2745a19f4f5fe9c0",
        "name": "",
        "x": 504,
        "y": 1039.0000190734863,
        "wires": [
            [
                "747cc72af1f4b05e",
                "ca2332e6af858c6d"
            ]
        ]
    },
    {
        "id": "5c0f85be08bc0b5d",
        "type": "ui_button",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 31,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 1180,
        "wires": [
            [
                "b11b5e6d9bce8a38",
                "e6d88d5e7d16053a"
            ]
        ]
    },
    {
        "id": "b11b5e6d9bce8a38",
        "type": "ui_date_picker",
        "z": "3bcac8835da98423",
        "name": "",
        "label": "date",
        "group": "b77ded9d1d746205",
        "order": 34,
        "width": 5,
        "height": 1,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 350,
        "y": 1180,
        "wires": [
            [
                "5cd53125bad9e0db"
            ]
        ]
    },
    {
        "id": "e6d88d5e7d16053a",
        "type": "ui_date_picker",
        "z": "3bcac8835da98423",
        "name": "",
        "label": "date",
        "group": "b77ded9d1d746205",
        "order": 36,
        "width": 5,
        "height": 1,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 350,
        "y": 1240,
        "wires": [
            [
                "18dcb820fd57d41e"
            ]
        ]
    },
    {
        "id": "5cd53125bad9e0db",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "global.set('start_date', msg.payload);\n\nmsg.payload = new Date(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1180,
        "wires": [
            [
                "b37acd3351efe642",
                "eb60eb2cd057659c"
            ]
        ]
    },
    {
        "id": "18dcb820fd57d41e",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "global.set('end_date', msg.payload);\n\nmsg.payload = new Date(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1240,
        "wires": [
            [
                "b37acd3351efe642",
                "eb60eb2cd057659c"
            ]
        ]
    },
    {
        "id": "eb60eb2cd057659c",
        "type": "debug",
        "z": "3bcac8835da98423",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d6d1cc11e7ad73c3",
        "type": "inject",
        "z": "3bcac8835da98423",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 200,
        "y": 1300,
        "wires": [
            [
                "8d2f29215e039b8c"
            ]
        ]
    },
    {
        "id": "8d2f29215e039b8c",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var sdate = global.get('start_date');\nvar edate = global.get('end_date');\n\nmsg.payload = new Date(sdate) + \",\" + new Date(edate);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1300,
        "wires": [
            [
                "eb60eb2cd057659c"
            ]
        ]
    },
    {
        "id": "1a878b0ff5a11541",
        "type": "ui_table",
        "z": "3bcac8835da98423",
        "group": "b77ded9d1d746205",
        "name": "",
        "order": 33,
        "width": 16,
        "height": 6,
        "columns": [
            {
                "field": "ID",
                "title": "ID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "light",
                "title": "light",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "water",
                "title": "water",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "temp",
                "title": "temp",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "humidity",
                "title": "humidity",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "AutoValue",
                "title": "AutoValue",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "LightValue",
                "title": "LightValue",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "FanValue",
                "title": "FanValue",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "PumpValue",
                "title": "PumpValue",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "ServoValue",
                "title": "ServoValue",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1010,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ca2332e6af858c6d",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var aJsonArray = new Array();\n\nvar j = 0; \nfor(var i = 0; i < msg.payload.length; i++)\n{\n    msg.payload[i].date = msg.payload[i].date.toLocaleString(\"en-US\", {timeZone: \"Asia/Seoul\"});\n    aJsonArray.push(msg.payload[i]);\n    j += 1;\n    if(j == 100) break;\n    \n}\n\nvar text = JSON.stringify(aJsonArray);\nvar obj = JSON.parse(text);\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1140,
        "wires": [
            [
                "1a878b0ff5a11541",
                "39712043e96f9e9f"
            ]
        ]
    },
    {
        "id": "9e71c75ed9eab524",
        "type": "inject",
        "z": "3bcac8835da98423",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 620,
        "y": 960,
        "wires": [
            [
                "cd99baee48d97230"
            ]
        ]
    },
    {
        "id": "cd99baee48d97230",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var aJsonArray = new Array();\n\nfor(var i = 0; i < 10; i++)\n{\n    var aJson = new Object();\n    aJson.ID = 0;\n    aJson.light = 0;\n    aJson.water = 0;\n    aJson.temp = 0;\n    aJson.humidity = 0;\n    aJson.AutoValue = 0;\n    aJson.LightValue = 0;\n    aJson.FanValue = 0;\n    aJson.PumpValue = 0;\n    aJson.ServoValue = 0;\n    aJson.date = \"2020-01-01 00:00:00\";\n    aJsonArray.push(aJson);\n}\n\nvar text = JSON.stringify(aJsonArray);\nvar obj = JSON.parse(text);\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 960,
        "wires": [
            [
                "1a878b0ff5a11541",
                "e7e04e9e4e8a87c0"
            ]
        ]
    },
    {
        "id": "e7e04e9e4e8a87c0",
        "type": "debug",
        "z": "3bcac8835da98423",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 960,
        "wires": []
    },
    {
        "id": "39712043e96f9e9f",
        "type": "debug",
        "z": "3bcac8835da98423",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1100,
        "wires": []
    },
    {
        "id": "72aff1ad488368e7",
        "type": "debug",
        "z": "3bcac8835da98423",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1100,
        "wires": []
    },
    {
        "id": "1148d61b5eed16a6",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "270e29f458d082ca",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "093169bb8c634285",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "34be4c35f5a68dac",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "ea7bd6ad78c3073a",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "48a6f4945c624fbc",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "e20617cc594cff49",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "d695c3a8bdd6652a",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 20,
        "width": 6,
        "height": 1
    },
    {
        "id": "4112ebdda73ccc48",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "93d77e834ceffd47",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "a9c70eb6185f3c3a",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "4747cd9fd71dd4f2",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 24,
        "width": 6,
        "height": 1
    },
    {
        "id": "cec98b3c3475fccd",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 27,
        "width": 6,
        "height": 1
    },
    {
        "id": "2c3bb0ea187b4f7c",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 28,
        "width": 6,
        "height": 1
    },
    {
        "id": "6295591bf4577ce5",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 29,
        "width": 6,
        "height": 1
    },
    {
        "id": "77137e15dbd0cb25",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 30,
        "width": 6,
        "height": 1
    },
    {
        "id": "d54de0a201bbaa85",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 32,
        "width": 4,
        "height": 1
    },
    {
        "id": "d3d9f76ac951d368",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "88135d0d2c154b28",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "77982607d84a4008",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 38,
        "width": 6,
        "height": 1
    },
    {
        "id": "c1d515c4e64b9df4",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 39,
        "width": 6,
        "height": 1
    },
    {
        "id": "984c559190dc3234",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 40,
        "width": 6,
        "height": 1
    },
    {
        "id": "0ea2fcaaccbfa388",
        "type": "serial-port",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b77ded9d1d746205",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "190c058d17d2c22c",
        "order": 1,
        "disp": true,
        "width": 22
    },
    {
        "id": "2745a19f4f5fe9c0",
        "type": "Stackhero-MySQL-Server",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "tls": false,
        "database": "TestDB"
    },
    {
        "id": "190c058d17d2c22c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
