SmartFarm2.json
[
    {
        "id": "a7413e14f51e6284",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0c5b038dd0338310",
        "type": "function",
        "z": "a7413e14f51e6284",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Relay1_value = parseFloat(output[3]);\nvar msg = {payload:Relay1_value};\n\nif(msg.payload == 1){\n    msg.payload = 'a';\n} \nelse {\n    msg.payload = 'b';\n}\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 120,
        "wires": [
            [
                "7ff24b13f4bd7eed",
                "ad6ef3f3256e2119"
            ]
        ]
    },
    {
        "id": "f6be4ac6c1ea1953",
        "type": "serial in",
        "z": "a7413e14f51e6284",
        "name": "",
        "serial": "0ea2fcaaccbfa388",
        "x": 70,
        "y": 240,
        "wires": [
            [
                "0c5b038dd0338310",
                "04ef53dd318f590f",
                "0c18836d87b39cc0",
                "8235fbd76cf098a7",
                "da7593cfb91ec171",
                "827e4a0442e2e888",
                "3fa00bee554cb945",
                "bc6d714ed414a1cd",
                "ecd5f46c068cb1af"
            ]
        ]
    },
    {
        "id": "04ef53dd318f590f",
        "type": "function",
        "z": "a7413e14f51e6284",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Relay2_value = parseFloat(output[4]);\nvar msg = {payload:Relay2_value};\n\nif(msg.payload == 1){\n    msg.payload = 'c';\n} \nelse {\n    msg.payload = 'd';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 180,
        "wires": [
            [
                "7cfa38df0e084eb9",
                "2f738c12a48cd112"
            ]
        ]
    },
    {
        "id": "0c18836d87b39cc0",
        "type": "function",
        "z": "a7413e14f51e6284",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Relay3_value = parseFloat(output[5]);\nvar msg = {payload:Relay3_value};\n\nif(msg.payload == 1){\n    msg.payload = 'e';\n} \nelse {\n    msg.payload = 'f';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 240,
        "wires": [
            [
                "812ed60bc58c856b",
                "dae0f978c7279db0"
            ]
        ]
    },
    {
        "id": "8235fbd76cf098a7",
        "type": "function",
        "z": "a7413e14f51e6284",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Relay4_value = parseFloat(output[6]);\nvar msg = {payload:Relay4_value};\n\nif(msg.payload == 1){\n    msg.payload = 'g';\n} \nelse {\n    msg.payload = 'h';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 300,
        "wires": [
            [
                "caa94c033cc193a1",
                "eff0231b9d5e8180"
            ]
        ]
    },
    {
        "id": "da7593cfb91ec171",
        "type": "function",
        "z": "a7413e14f51e6284",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Windows_value = parseFloat(output[7]);\nvar msg = {payload:Windows_value};\n\nif(msg.payload == 1){\n    msg.payload = 'z';\n} \nelse {\n    msg.payload = 'y';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 360,
        "wires": [
            [
                "e53f80ccc09ddf7f"
            ]
        ]
    },
    {
        "id": "7cfa38df0e084eb9",
        "type": "ui_switch",
        "z": "a7413e14f51e6284",
        "name": "",
        "label": "Light (광)",
        "tooltip": "",
        "group": "cb24f227e5673a6b",
        "order": 5,
        "width": 4,
        "height": 3,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "c",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "d",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 180,
        "wires": [
            [
                "537dd29d615c7bfe"
            ]
        ]
    },
    {
        "id": "e53f80ccc09ddf7f",
        "type": "ui_switch",
        "z": "a7413e14f51e6284",
        "name": "",
        "label": "모두 OFF",
        "tooltip": "",
        "group": "cb24f227e5673a6b",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "z",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "y",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 360,
        "wires": [
            [
                "537dd29d615c7bfe"
            ]
        ]
    },
    {
        "id": "812ed60bc58c856b",
        "type": "ui_switch",
        "z": "a7413e14f51e6284",
        "name": "",
        "label": "Pump (펌프)",
        "tooltip": "",
        "group": "cb24f227e5673a6b",
        "order": 9,
        "width": 4,
        "height": 3,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "e",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "f",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 240,
        "wires": [
            [
                "537dd29d615c7bfe"
            ]
        ]
    },
    {
        "id": "caa94c033cc193a1",
        "type": "ui_switch",
        "z": "a7413e14f51e6284",
        "name": "",
        "label": "Windows (창문)",
        "tooltip": "",
        "group": "cb24f227e5673a6b",
        "order": 11,
        "width": 4,
        "height": 3,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "g",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "h",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 780,
        "y": 300,
        "wires": [
            [
                "537dd29d615c7bfe"
            ]
        ]
    },
    {
        "id": "7ff24b13f4bd7eed",
        "type": "ui_switch",
        "z": "a7413e14f51e6284",
        "name": "",
        "label": "Fan (환기팬)",
        "tooltip": "",
        "group": "cb24f227e5673a6b",
        "order": 3,
        "width": 4,
        "height": 3,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "a",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "b",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 120,
        "wires": [
            [
                "537dd29d615c7bfe"
            ]
        ]
    },
    {
        "id": "537dd29d615c7bfe",
        "type": "serial out",
        "z": "a7413e14f51e6284",
        "name": "",
        "serial": "90c2d770290e3da8",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "e65daa298cfa045d",
        "type": "ui_gauge",
        "z": "a7413e14f51e6284",
        "name": "",
        "group": "cb24f227e5673a6b",
        "order": 8,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Light",
        "label": "Value",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "8673566055cbdcf9",
        "type": "ui_gauge",
        "z": "a7413e14f51e6284",
        "name": "",
        "group": "cb24f227e5673a6b",
        "order": 13,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Pump",
        "label": "Value",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "bd8a1519bedc567e",
        "type": "ui_gauge",
        "z": "a7413e14f51e6284",
        "name": "",
        "group": "cb24f227e5673a6b",
        "order": 14,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Windows",
        "label": "Value",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "388903e6310df975",
        "type": "ui_gauge",
        "z": "a7413e14f51e6284",
        "name": "",
        "group": "cb24f227e5673a6b",
        "order": 7,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Fan",
        "label": "Value",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "ad6ef3f3256e2119",
        "type": "change",
        "z": "a7413e14f51e6284",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "a",
                "fromt": "str",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 60,
        "wires": [
            [
                "388903e6310df975"
            ]
        ]
    },
    {
        "id": "2f738c12a48cd112",
        "type": "change",
        "z": "a7413e14f51e6284",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "c",
                "fromt": "str",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "d",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "e65daa298cfa045d"
            ]
        ]
    },
    {
        "id": "dae0f978c7279db0",
        "type": "change",
        "z": "a7413e14f51e6284",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "e",
                "fromt": "str",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "f",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "8673566055cbdcf9"
            ]
        ]
    },
    {
        "id": "eff0231b9d5e8180",
        "type": "change",
        "z": "a7413e14f51e6284",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "g",
                "fromt": "str",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "h",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 260,
        "wires": [
            [
                "bd8a1519bedc567e"
            ]
        ]
    },
    {
        "id": "827e4a0442e2e888",
        "type": "function",
        "z": "a7413e14f51e6284",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Relay1_value = parseFloat(output[3]);\nvar msg = {payload:Relay1_value};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 420,
        "wires": [
            [
                "e352b8251108ad1d"
            ]
        ]
    },
    {
        "id": "e352b8251108ad1d",
        "type": "ui_chart",
        "z": "a7413e14f51e6284",
        "name": "",
        "group": "cb24f227e5673a6b",
        "order": 4,
        "width": 11,
        "height": 6,
        "label": "Fan",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3fa00bee554cb945",
        "type": "function",
        "z": "a7413e14f51e6284",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Relay2_value = parseFloat(output[4]);\nvar msg = {payload:Relay2_value};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 480,
        "wires": [
            [
                "f1cb6c3d1ef0ab2e"
            ]
        ]
    },
    {
        "id": "bc6d714ed414a1cd",
        "type": "function",
        "z": "a7413e14f51e6284",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Relay3_value = parseFloat(output[5]);\nvar msg = {payload:Relay3_value};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 540,
        "wires": [
            [
                "c93ee0f9babe250b"
            ]
        ]
    },
    {
        "id": "ecd5f46c068cb1af",
        "type": "function",
        "z": "a7413e14f51e6284",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Relay4_value = parseFloat(output[6]);\nvar msg = {payload:Relay4_value};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 600,
        "wires": [
            [
                "609084bf7bca4f67"
            ]
        ]
    },
    {
        "id": "f1cb6c3d1ef0ab2e",
        "type": "ui_chart",
        "z": "a7413e14f51e6284",
        "name": "",
        "group": "cb24f227e5673a6b",
        "order": 6,
        "width": 11,
        "height": 6,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c93ee0f9babe250b",
        "type": "ui_chart",
        "z": "a7413e14f51e6284",
        "name": "",
        "group": "cb24f227e5673a6b",
        "order": 10,
        "width": 11,
        "height": 6,
        "label": "Pump",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "609084bf7bca4f67",
        "type": "ui_chart",
        "z": "a7413e14f51e6284",
        "name": "",
        "group": "cb24f227e5673a6b",
        "order": 12,
        "width": 11,
        "height": 6,
        "label": "Windows",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "391735db867cf1a7",
        "type": "ui_spacer",
        "z": "a7413e14f51e6284",
        "name": "spacer",
        "group": "cb24f227e5673a6b",
        "order": 2,
        "width": 26,
        "height": 1
    },
    {
        "id": "0ea2fcaaccbfa388",
        "type": "serial-port",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "cb24f227e5673a6b",
        "type": "ui_group",
        "name": "스마트팜",
        "tab": "74bf98039dbc6001",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "90c2d770290e3da8",
        "type": "serial-port",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "74bf98039dbc6001",
        "type": "ui_tab",
        "name": "SmartFarm",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
