SmartFarm_Ex5.json
[
    {
        "id": "3bcac8835da98423",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e53845c015727550",
        "type": "serial in",
        "z": "3bcac8835da98423",
        "name": "",
        "serial": "0ea2fcaaccbfa388",
        "x": 159.28691864013672,
        "y": 214.67895317077637,
        "wires": [
            [
                "b3d5aeb298f9229a",
                "ab977307206ff427",
                "61c107f6359d5602",
                "77ba457cb0a2d959",
                "a8fb9a8b2f02d918",
                "212a75dd871ca1bc",
                "d15299ba3a9b6352",
                "8d9fbdab65022778",
                "c07ebc7caedac375",
                "d9571a6a4d6aa3f2",
                "cc44710fd365f123",
                "dac6acc3022980de"
            ]
        ]
    },
    {
        "id": "b3d5aeb298f9229a",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Ea = parseFloat(output[0]);\nvar msg = {payload:Ea};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 344.2897644042969,
        "y": 98.64483833312988,
        "wires": [
            [
                "862e217e24bf96ae",
                "b10287863e3ce18f"
            ]
        ]
    },
    {
        "id": "862e217e24bf96ae",
        "type": "ui_gauge",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Light",
        "label": "Lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 521.2926406860352,
        "y": 98.83804702758789,
        "wires": []
    },
    {
        "id": "ab977307206ff427",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar WC = parseFloat(output[1]);\nvar msg = {payload:WC};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350.01424407958984,
        "y": 182.00566864013672,
        "wires": [
            [
                "23695fd7e65a84bf",
                "3fb6a89ec14c70ec"
            ]
        ]
    },
    {
        "id": "61c107f6359d5602",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar temp = parseFloat(output[2]);\nvar msg = {payload:temp};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 356.0142364501953,
        "y": 261.00566482543945,
        "wires": [
            [
                "c7b9d7681f880626",
                "aaaec19323254bce"
            ]
        ]
    },
    {
        "id": "23695fd7e65a84bf",
        "type": "ui_gauge",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 25,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Water Content",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 534.2840728759766,
        "y": 181.3835096359253,
        "wires": []
    },
    {
        "id": "c7b9d7681f880626",
        "type": "ui_gauge",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 11,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 533.2869415283203,
        "y": 261.37495613098145,
        "wires": []
    },
    {
        "id": "77ba457cb0a2d959",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar RH = parseFloat(output[3]);\nvar msg = {payload:RH};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 353.2840805053711,
        "y": 337.826696395874,
        "wires": [
            [
                "f503bba010e93ce3",
                "2c29237b63ae80e1"
            ]
        ]
    },
    {
        "id": "f503bba010e93ce3",
        "type": "ui_gauge",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 18,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 526.286937713623,
        "y": 338.6562099456787,
        "wires": []
    },
    {
        "id": "bb355dddceac7935",
        "type": "serial out",
        "z": "3bcac8835da98423",
        "name": "",
        "serial": "0ea2fcaaccbfa388",
        "x": 956.2812805175781,
        "y": 516.5651655197144,
        "wires": []
    },
    {
        "id": "e1224ee6fc727629",
        "type": "ui_switch",
        "z": "3bcac8835da98423",
        "name": "",
        "label": "Light (광)",
        "tooltip": "",
        "group": "b77ded9d1d746205",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "a",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "b",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 755.2897720336914,
        "y": 467.411826133728,
        "wires": [
            [
                "bb355dddceac7935"
            ]
        ]
    },
    {
        "id": "d7c18afc3b17d51f",
        "type": "ui_switch",
        "z": "3bcac8835da98423",
        "name": "",
        "label": "Automation (자동유무)",
        "tooltip": "",
        "group": "b77ded9d1d746205",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "x",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "y",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 723.2871246337891,
        "y": 411.4997549057007,
        "wires": [
            [
                "bb355dddceac7935"
            ]
        ]
    },
    {
        "id": "e837b3367fd207e5",
        "type": "ui_switch",
        "z": "3bcac8835da98423",
        "name": "",
        "label": "Pump (펌프)",
        "tooltip": "",
        "group": "b77ded9d1d746205",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "c",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "d",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 745.284065246582,
        "y": 521.4913578033447,
        "wires": [
            [
                "bb355dddceac7935"
            ]
        ]
    },
    {
        "id": "f37d92b988fe289a",
        "type": "ui_switch",
        "z": "3bcac8835da98423",
        "name": "",
        "label": "Windows (창문)",
        "tooltip": "",
        "group": "b77ded9d1d746205",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "e",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "f",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 737.2813034057617,
        "y": 577.4913129806519,
        "wires": [
            [
                "bb355dddceac7935"
            ]
        ]
    },
    {
        "id": "8457ecda28b40906",
        "type": "ui_switch",
        "z": "3bcac8835da98423",
        "name": "",
        "label": "Fan (환기팬)",
        "tooltip": "",
        "group": "b77ded9d1d746205",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "g",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "h",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740.292610168457,
        "y": 635.4970932006836,
        "wires": [
            [
                "bb355dddceac7935"
            ]
        ]
    },
    {
        "id": "a8fb9a8b2f02d918",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Auto = parseFloat(output[4]);\nvar msg = {payload:Auto};\n\nif(msg.payload == 1){\n    msg.payload = 'x';\n} \nelse {\n    msg.payload = 'y';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 352.01422119140625,
        "y": 410.00566482543945,
        "wires": [
            [
                "d7c18afc3b17d51f"
            ]
        ]
    },
    {
        "id": "212a75dd871ca1bc",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar LightValue = parseFloat(output[5]);\nvar msg = {payload:LightValue};\n\nif(msg.payload == 1){\n    msg.payload = 'a';\n} \nelse {\n    msg.payload = 'b';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 349.01422119140625,
        "y": 464.00565338134766,
        "wires": [
            [
                "e1224ee6fc727629"
            ]
        ]
    },
    {
        "id": "d15299ba3a9b6352",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar FanValue = parseFloat(output[6]);\nvar msg = {payload:FanValue};\n\nif(msg.payload == 1){\n    msg.payload = 'g';\n} \nelse {\n    msg.payload = 'h';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 357.0142364501953,
        "y": 632.0056858062744,
        "wires": [
            [
                "8457ecda28b40906"
            ]
        ]
    },
    {
        "id": "8d9fbdab65022778",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar PumpValue = parseFloat(output[7]);\nvar msg = {payload:PumpValue};\n\nif(msg.payload == 1){\n    msg.payload = 'c';\n} \nelse {\n    msg.payload = 'd';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 353.2869110107422,
        "y": 524.8352127075195,
        "wires": [
            [
                "e837b3367fd207e5"
            ]
        ]
    },
    {
        "id": "c07ebc7caedac375",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar ServoValue = parseFloat(output[8]);\nvar msg = {payload:ServoValue};\n\nif(msg.payload == 1){\n    msg.payload = 'e';\n} \nelse {\n    msg.payload = 'f';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 353.01422119140625,
        "y": 577.0056762695312,
        "wires": [
            [
                "f37d92b988fe289a"
            ]
        ]
    },
    {
        "id": "b10287863e3ce18f",
        "type": "ui_chart",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 5,
        "width": 10,
        "height": 5,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 522.2925872802734,
        "y": 142.27840423583984,
        "wires": [
            []
        ]
    },
    {
        "id": "3fb6a89ec14c70ec",
        "type": "ui_chart",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 26,
        "width": 10,
        "height": 5,
        "label": "Water Content",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 551.2840423583984,
        "y": 219.2812271118164,
        "wires": [
            []
        ]
    },
    {
        "id": "aaaec19323254bce",
        "type": "ui_chart",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 12,
        "width": 10,
        "height": 5,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 545.2897796630859,
        "y": 299.2812271118164,
        "wires": [
            []
        ]
    },
    {
        "id": "2c29237b63ae80e1",
        "type": "ui_chart",
        "z": "3bcac8835da98423",
        "name": "",
        "group": "b77ded9d1d746205",
        "order": 19,
        "width": 10,
        "height": 5,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 528.2869110107422,
        "y": 382.2783889770508,
        "wires": [
            []
        ]
    },
    {
        "id": "a2b9b1a6a47311aa",
        "type": "Stackhero-MySQL",
        "z": "3bcac8835da98423",
        "server": "2745a19f4f5fe9c0",
        "name": "",
        "x": 840,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "395dc4af1da07461",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var obj = JSON.parse(msg.payload);\n\nvar newDate = new Date();\nvar date = newDate.toLocaleDateString();\nvar time = newDate.toLocaleTimeString('en-US', { hour12: false});\n\nfunction getTimeStamp() {\n  var d = new Date();\n  var s =\n    leadingZeros(d.getFullYear(), 4) + '-' +\n    leadingZeros(d.getMonth() + 1, 2) + '-' +\n    leadingZeros(d.getDate(), 2) + ' ' +\n\n    leadingZeros(d.getHours(), 2) + ':' +\n    leadingZeros(d.getMinutes(), 2) + ':' +\n    leadingZeros(d.getSeconds(), 2);\n\n  return s;\n}\n\nfunction leadingZeros(n, digits) {\n  var zero = '';\n  n = n.toString();\n\n  if (n.length < digits) {\n    for (i = 0; i < digits - n.length; i++)\n      zero += '0';\n  }\n  return zero + n;\n}\n\nmsg.topic = \"INSERT INTO TestDB.sensor(light, water, temp, humidity, AutoValue, LightValue, FanValue, PumpValue, ServoValue, date)\";\nmsg.topic += \" VALUES(\" + obj['light'] + \", \" + obj['water'] + \", \" +  obj['temp'] + \", \" + obj['humidity'] + \", \" + obj['AutoValue'] + \", \" +  obj['LightValue'] + \", \" +  obj['FanValue'] + \", \" + obj['PumpValue'] + \", \" + obj['ServoValue'] +  \",  current_timestamp());\";\nmsg.payload = { \"light\":0, \"water\":0, \"temp\":0, \"humidity\":0, \"AutoValue\":0, \"LightValue\":0, \"FanValue\":0, \"PumpValue\":0, \"ServoValue\":0, \"date\": \"2021-01-03 00:00:00\" }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 780,
        "wires": [
            [
                "a2b9b1a6a47311aa"
            ]
        ]
    },
    {
        "id": "d9571a6a4d6aa3f2",
        "type": "ui_text",
        "z": "3bcac8835da98423",
        "group": "b77ded9d1d746205",
        "order": 2,
        "width": 16,
        "height": 1,
        "name": "",
        "label": "수신되는 환경자료",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "f7464c68721caa2e",
        "type": "file",
        "z": "3bcac8835da98423",
        "name": "",
        "filename": "D://Data/Environment.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 610,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "cc44710fd365f123",
        "type": "function",
        "z": "3bcac8835da98423",
        "name": "",
        "func": "var newDate = new Date();\nvar date = newDate.toLocaleDateString();\nvar time = newDate.toLocaleTimeString('en-US', { hour12: false});\n\nmsg.payload = date + \",\" + time + \",\" + msg.payload;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 700,
        "wires": [
            [
                "f7464c68721caa2e"
            ]
        ]
    },
    {
        "id": "dac6acc3022980de",
        "type": "csv",
        "z": "3bcac8835da98423",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "light, water, temp, humidity, AutoValue, LightValue, FanValue, PumpValue, ServoValue",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "393517f1fffec41f"
            ]
        ]
    },
    {
        "id": "ea671afd1a1eefce",
        "type": "inject",
        "z": "3bcac8835da98423",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO sensor;",
        "payload": "{\"light\":0,\"water\":0,\"temp\":0,\"humidity\":0,\"AutoValue\":0,\"LightValue\":0,\"FanValue\":0,\"PumpValue\":0,\"ServoValue\":0,\"date\":\"2021-01-03 00:00:00\"}",
        "payloadType": "json",
        "x": 230,
        "y": 840,
        "wires": [
            [
                "395dc4af1da07461"
            ]
        ]
    },
    {
        "id": "393517f1fffec41f",
        "type": "json",
        "z": "3bcac8835da98423",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 470,
        "y": 760,
        "wires": [
            [
                "395dc4af1da07461"
            ]
        ]
    },
    {
        "id": "b191c2ca4a6f522f",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "2f192b5db0027c63",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "863235c0945b8e81",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "e08cd502c47ff382",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "2b9ebc367d59af35",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "7ace037846044cb8",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "be3692f782633924",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "bdad3bb84052cb51",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 20,
        "width": 6,
        "height": 1
    },
    {
        "id": "8cbbc50cb4229891",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "211d565b5c944d76",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "59f3e6c6cb9f69a9",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "06cf7b018cf4d504",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 24,
        "width": 6,
        "height": 1
    },
    {
        "id": "fc9619bf68ba92f8",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 27,
        "width": 6,
        "height": 1
    },
    {
        "id": "1e7635a4d37df71b",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 28,
        "width": 6,
        "height": 1
    },
    {
        "id": "c36b469c7048797e",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 29,
        "width": 6,
        "height": 1
    },
    {
        "id": "e0ca77d3f3b156a2",
        "type": "ui_spacer",
        "z": "3bcac8835da98423",
        "name": "spacer",
        "group": "b77ded9d1d746205",
        "order": 30,
        "width": 6,
        "height": 1
    },
    {
        "id": "0ea2fcaaccbfa388",
        "type": "serial-port",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b77ded9d1d746205",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "190c058d17d2c22c",
        "order": 1,
        "disp": true,
        "width": 22
    },
    {
        "id": "2745a19f4f5fe9c0",
        "type": "Stackhero-MySQL-Server",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "tls": false,
        "database": "TestDB"
    },
    {
        "id": "190c058d17d2c22c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
