Temp_RH_LightBH1750_RTC1302_etal.json
[
    {
        "id": "3124b3b301bd9c17",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e93e4749da20b2e4",
        "type": "serial in",
        "z": "3124b3b301bd9c17",
        "name": "",
        "serial": "90c2d770290e3da8",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "7489c82e642687cc",
                "73ebb682ec032b34",
                "ae75f67b96f4e115",
                "022880003da507d5",
                "1dd0bb5dd4f987e4",
                "7a45b5a313488d8b",
                "8d327a05acdb8ed2",
                "402074e46ce17e98",
                "2b884d5e7787b003",
                "d2c803c4598991f3"
            ]
        ]
    },
    {
        "id": "7489c82e642687cc",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar temp = parseFloat(output[1]);\nvar msg = {payload:temp};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "f17d31a2122728da",
                "5199b2934efe05c6",
                "c41b0f3d6b1a1a72"
            ]
        ]
    },
    {
        "id": "73ebb682ec032b34",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar humi = parseFloat(output[2]);\nvar msg = {payload:humi};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "6237474fdb8f2dc3",
                "9e0d7076ed3e21c1",
                "e6d54fb9364e9333"
            ]
        ]
    },
    {
        "id": "ae75f67b96f4e115",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar VPD = parseFloat(output[3]);\nvar msg = {payload:VPD};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 400,
        "wires": [
            [
                "114265fd0312e98c",
                "770a78ea37b37e46",
                "9ca78e2ffd15ae3b"
            ]
        ]
    },
    {
        "id": "f17d31a2122728da",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "6237474fdb8f2dc3",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "114265fd0312e98c",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 4,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "VPD",
        "label": "kPa",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "5199b2934efe05c6",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 12,
        "width": 4,
        "height": 3,
        "label": "Temperature(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9e0d7076ed3e21c1",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 13,
        "width": 4,
        "height": 3,
        "label": "Humidity(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "770a78ea37b37e46",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 14,
        "width": 4,
        "height": 3,
        "label": "VPD(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "022880003da507d5",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var newDate = new Date();\nvar date = newDate.toLocaleDateString();\nvar time = newDate.toLocaleTimeString('en-US', { hour12: false});\n\nmsg.payload = date + \",\" + time + \",\" + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1180,
        "wires": [
            [
                "f8a78972c7de35fb"
            ]
        ]
    },
    {
        "id": "f8a78972c7de35fb",
        "type": "file",
        "z": "3124b3b301bd9c17",
        "name": "",
        "filename": "D://Data/SmartFarm_VPD.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 670,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "1dd0bb5dd4f987e4",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar lux = parseFloat(output[0]);\nvar msg = {payload:lux};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 40,
        "wires": [
            [
                "2fc960a7b13dc6c2",
                "e81d5a031d0de181",
                "2ec932d6755e96e3"
            ]
        ]
    },
    {
        "id": "2fc960a7b13dc6c2",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Lux",
        "label": "Lux",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "e81d5a031d0de181",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 11,
        "width": 4,
        "height": 3,
        "label": "Lux(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7a45b5a313488d8b",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar water = parseFloat(output[4]);\nvar msg = {payload:water};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 520,
        "wires": [
            [
                "55c42362f9c4d280",
                "d7f1c43ec85a644a",
                "74d6ad55aadb390e"
            ]
        ]
    },
    {
        "id": "55c42362f9c4d280",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Water Content",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "d7f1c43ec85a644a",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 15,
        "width": 4,
        "height": 3,
        "label": "Water Content(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "8d327a05acdb8ed2",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Rain = parseFloat(output[6]);\nvar msg = {payload:Rain};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 800,
        "wires": [
            [
                "9644e0244632b2eb",
                "b3e5464ff6ade890",
                "3c48428ad1d3acea"
            ]
        ]
    },
    {
        "id": "9644e0244632b2eb",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Rain",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "b3e5464ff6ade890",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 16,
        "width": 4,
        "height": 3,
        "label": "Rain(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2ec932d6755e96e3",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 21,
        "width": 4,
        "height": 3,
        "label": "Lux(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "402074e46ce17e98",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Fan = parseFloat(output[7]);\nvar msg = {payload:Fan};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 940,
        "wires": [
            [
                "31713019361f266b",
                "7cc8f40ce0319511",
                "61f482d384a7973a"
            ]
        ]
    },
    {
        "id": "31713019361f266b",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 31,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Fan",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 920,
        "wires": []
    },
    {
        "id": "7cc8f40ce0319511",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 36,
        "width": 4,
        "height": 3,
        "label": "Fan(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "c41b0f3d6b1a1a72",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 22,
        "width": 4,
        "height": 3,
        "label": "Temperature(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e6d54fb9364e9333",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 23,
        "width": 4,
        "height": 3,
        "label": "Humidity(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9ca78e2ffd15ae3b",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 24,
        "width": 4,
        "height": 3,
        "label": "VPD(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "74d6ad55aadb390e",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 25,
        "width": 4,
        "height": 3,
        "label": "Water Content(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3c48428ad1d3acea",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 26,
        "width": 4,
        "height": 3,
        "label": "Rain(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "61f482d384a7973a",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 41,
        "width": 4,
        "height": 3,
        "label": "Fan(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "2b884d5e7787b003",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Light_value = parseFloat(output[9]);\nvar msg = {payload:Light_value};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1080,
        "wires": [
            [
                "be8b3e7d811c4352",
                "c40912c0bf7a660d",
                "22d0f89645a7cd1a"
            ]
        ]
    },
    {
        "id": "be8b3e7d811c4352",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 7,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Light",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 1040,
        "wires": []
    },
    {
        "id": "22d0f89645a7cd1a",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 27,
        "width": 4,
        "height": 3,
        "label": "Light(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "c40912c0bf7a660d",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 17,
        "width": 4,
        "height": 3,
        "label": "Light(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "d2c803c4598991f3",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Pump = parseFloat(output[5]);\nvar msg = {payload:Pump};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 640,
        "wires": [
            [
                "24233af9dfb8f6aa",
                "5306255630da5321",
                "58ad4e374a1f1dc9"
            ]
        ]
    },
    {
        "id": "24233af9dfb8f6aa",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 32,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Pump",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 640,
        "wires": []
    },
    {
        "id": "5306255630da5321",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 37,
        "width": 4,
        "height": 3,
        "label": "Pump(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "58ad4e374a1f1dc9",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 42,
        "width": 4,
        "height": 3,
        "label": "Pump(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "df002576daea1d87",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "3197bca9807c8306",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "56fc25981bb857c6",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "da17371e08700b70",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "7e5ece5494c0243b",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "eb4d7fa77e4b382f",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "3f1810e6b8b3eab0",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "d25f855c44d9e85b",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "a479ec01686e4acb",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "51ef89a8eea565aa",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 33,
        "width": 22,
        "height": 1
    },
    {
        "id": "7c3286c537b35369",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 34,
        "width": 22,
        "height": 1
    },
    {
        "id": "5efad3e5447ce77f",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 35,
        "width": 22,
        "height": 1
    },
    {
        "id": "7fa64dbce197b580",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 38,
        "width": 22,
        "height": 1
    },
    {
        "id": "a5312d8df16e5312",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 39,
        "width": 22,
        "height": 1
    },
    {
        "id": "60ca639ac8e95c3c",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 40,
        "width": 22,
        "height": 1
    },
    {
        "id": "b49d6cd44adfa5ad",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 43,
        "width": 22,
        "height": 1
    },
    {
        "id": "c12b517eb48e5f6d",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 44,
        "width": 22,
        "height": 1
    },
    {
        "id": "e5a8fa3c20213435",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 45,
        "width": 22,
        "height": 1
    },
    {
        "id": "90c2d770290e3da8",
        "type": "serial-port",
        "serialport": "COM17",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "46bcb31eb8b30728",
        "type": "ui_group",
        "name": "SmartFarm_VPD",
        "tab": "0131207d734e7e45",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0131207d734e7e45",
        "type": "ui_tab",
        "name": "SmartFarm_VPD",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
