Temp_RH_RTC1302_Rain_LCD_Water_Pump_LightBH1750_WS.json
[
    {
        "id": "3124b3b301bd9c17",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e93e4749da20b2e4",
        "type": "serial in",
        "z": "3124b3b301bd9c17",
        "name": "",
        "serial": "90c2d770290e3da8",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "7489c82e642687cc",
                "73ebb682ec032b34",
                "ae75f67b96f4e115",
                "022880003da507d5",
                "1dd0bb5dd4f987e4",
                "7a45b5a313488d8b",
                "8d327a05acdb8ed2",
                "402074e46ce17e98",
                "2b884d5e7787b003",
                "d2c803c4598991f3",
                "b2ebf7a6ee2d1087",
                "8504141682bcdd67",
                "cba8d42266dc1412",
                "37fbf00684db403d",
                "fa8102ae918c767b",
                "d4b03d39a68ef3e9",
                "86bf4ef3ee5e3dfa",
                "2264924015bcf9a0"
            ]
        ]
    },
    {
        "id": "7489c82e642687cc",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar temp = parseFloat(output[1]);\nvar msg = {payload:temp};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "f17d31a2122728da",
                "5199b2934efe05c6",
                "c41b0f3d6b1a1a72"
            ]
        ]
    },
    {
        "id": "73ebb682ec032b34",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar humi = parseFloat(output[2]);\nvar msg = {payload:humi};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "6237474fdb8f2dc3",
                "9e0d7076ed3e21c1",
                "e6d54fb9364e9333"
            ]
        ]
    },
    {
        "id": "ae75f67b96f4e115",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar VPD = parseFloat(output[3]);\nvar msg = {payload:VPD};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 400,
        "wires": [
            [
                "114265fd0312e98c",
                "770a78ea37b37e46",
                "9ca78e2ffd15ae3b"
            ]
        ]
    },
    {
        "id": "f17d31a2122728da",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "6237474fdb8f2dc3",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "114265fd0312e98c",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 4,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "VPD",
        "label": "kPa",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "5199b2934efe05c6",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 12,
        "width": 4,
        "height": 3,
        "label": "Temperature(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9e0d7076ed3e21c1",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 13,
        "width": 4,
        "height": 3,
        "label": "Humidity(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "770a78ea37b37e46",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 14,
        "width": 4,
        "height": 3,
        "label": "VPD(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "022880003da507d5",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var newDate = new Date();\nvar date = newDate.toLocaleDateString();\nvar time = newDate.toLocaleTimeString('en-US', { hour12: false});\n\nmsg.payload = date + \",\" + time + \",\" + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1180,
        "wires": [
            [
                "f8a78972c7de35fb"
            ]
        ]
    },
    {
        "id": "f8a78972c7de35fb",
        "type": "file",
        "z": "3124b3b301bd9c17",
        "name": "",
        "filename": "D://Data/SmartFarm_VPD.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 670,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "1dd0bb5dd4f987e4",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar lux = parseFloat(output[0]);\nvar msg = {payload:lux};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 40,
        "wires": [
            [
                "2fc960a7b13dc6c2",
                "e81d5a031d0de181",
                "2ec932d6755e96e3"
            ]
        ]
    },
    {
        "id": "2fc960a7b13dc6c2",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Lux",
        "label": "Lux",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "e81d5a031d0de181",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 11,
        "width": 4,
        "height": 3,
        "label": "Lux(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7a45b5a313488d8b",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar water = parseFloat(output[4]);\nvar msg = {payload:water};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 520,
        "wires": [
            [
                "55c42362f9c4d280",
                "d7f1c43ec85a644a",
                "74d6ad55aadb390e"
            ]
        ]
    },
    {
        "id": "55c42362f9c4d280",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 36,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Water Content",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "d7f1c43ec85a644a",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 46,
        "width": 4,
        "height": 3,
        "label": "Water Content(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "8d327a05acdb8ed2",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Rain = parseFloat(output[6]);\nvar msg = {payload:Rain};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 800,
        "wires": [
            [
                "9644e0244632b2eb",
                "b3e5464ff6ade890",
                "3c48428ad1d3acea"
            ]
        ]
    },
    {
        "id": "9644e0244632b2eb",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 31,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Rain",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "b3e5464ff6ade890",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 41,
        "width": 4,
        "height": 3,
        "label": "Rain(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2ec932d6755e96e3",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 21,
        "width": 4,
        "height": 3,
        "label": "Lux(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "402074e46ce17e98",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Fan = parseFloat(output[7]);\nvar msg = {payload:Fan};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 940,
        "wires": [
            [
                "31713019361f266b",
                "7cc8f40ce0319511",
                "61f482d384a7973a"
            ]
        ]
    },
    {
        "id": "31713019361f266b",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 63,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Fan",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 920,
        "wires": []
    },
    {
        "id": "7cc8f40ce0319511",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 69,
        "width": 4,
        "height": 3,
        "label": "Fan(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "c41b0f3d6b1a1a72",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 22,
        "width": 4,
        "height": 3,
        "label": "Temperature(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e6d54fb9364e9333",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 23,
        "width": 4,
        "height": 3,
        "label": "Humidity(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9ca78e2ffd15ae3b",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 24,
        "width": 4,
        "height": 3,
        "label": "VPD(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "74d6ad55aadb390e",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 56,
        "width": 4,
        "height": 3,
        "label": "Water Content(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3c48428ad1d3acea",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 51,
        "width": 4,
        "height": 3,
        "label": "Rain(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "61f482d384a7973a",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 75,
        "width": 4,
        "height": 3,
        "label": "Fan(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "2b884d5e7787b003",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Light_value = parseFloat(output[9]);\nvar msg = {payload:Light_value};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1080,
        "wires": [
            [
                "be8b3e7d811c4352",
                "c40912c0bf7a660d",
                "22d0f89645a7cd1a"
            ]
        ]
    },
    {
        "id": "be8b3e7d811c4352",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 7,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Light",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 1040,
        "wires": []
    },
    {
        "id": "22d0f89645a7cd1a",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 27,
        "width": 4,
        "height": 3,
        "label": "Light(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "c40912c0bf7a660d",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 17,
        "width": 4,
        "height": 3,
        "label": "Light(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "d2c803c4598991f3",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Pump = parseFloat(output[5]);\nvar msg = {payload:Pump};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 640,
        "wires": [
            [
                "24233af9dfb8f6aa",
                "5306255630da5321",
                "58ad4e374a1f1dc9"
            ]
        ]
    },
    {
        "id": "24233af9dfb8f6aa",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 62,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Pump",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 640,
        "wires": []
    },
    {
        "id": "5306255630da5321",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 68,
        "width": 4,
        "height": 3,
        "label": "Pump(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "58ad4e374a1f1dc9",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 74,
        "width": 4,
        "height": 3,
        "label": "Pump(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "2264924015bcf9a0",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar WD = parseFloat(output[10]);\nvar msg = {payload:WD};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 100,
        "wires": [
            [
                "b835bc2e9d1081ac",
                "3d1f3657394e0611",
                "a088f8328719836d"
            ]
        ]
    },
    {
        "id": "b835bc2e9d1081ac",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 61,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Wind Direction",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1140,
        "y": 100,
        "wires": []
    },
    {
        "id": "3d1f3657394e0611",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 67,
        "width": 4,
        "height": 3,
        "label": "Wind Direction(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a088f8328719836d",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 73,
        "width": 4,
        "height": 3,
        "label": "Wind Direction(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "86bf4ef3ee5e3dfa",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar WSA = parseFloat(output[11]);\nvar msg = {payload:WSA};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 240,
        "wires": [
            [
                "d537948a7cb3f7a3",
                "130d7d1d48b2c54b",
                "b02f83d072195ba5"
            ]
        ]
    },
    {
        "id": "d537948a7cb3f7a3",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 34,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Wind Speed Average",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1160,
        "y": 240,
        "wires": []
    },
    {
        "id": "130d7d1d48b2c54b",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 44,
        "width": 4,
        "height": 3,
        "label": "Wind Speed Avg(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b02f83d072195ba5",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 54,
        "width": 4,
        "height": 3,
        "label": "Wind Speed Avg(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d4b03d39a68ef3e9",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar WSM = parseFloat(output[12]);\nvar msg = {payload:WSM};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 380,
        "wires": [
            [
                "ee7b6f8cd55a4602",
                "0786a07bf73c33e1",
                "a112be4cb8dd01ee"
            ]
        ]
    },
    {
        "id": "ee7b6f8cd55a4602",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 35,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Wind Speed Max",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 380,
        "wires": []
    },
    {
        "id": "0786a07bf73c33e1",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 45,
        "width": 4,
        "height": 3,
        "label": "Wind Speed Max(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a112be4cb8dd01ee",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 55,
        "width": 4,
        "height": 3,
        "label": "Wind Speed Max(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "fa8102ae918c767b",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar RFH = parseFloat(output[13]);\nvar msg = {payload:RFH};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 540,
        "wires": [
            [
                "bef9bc9a93420fb3",
                "c7864b1be5dd1957",
                "13a2c310c33c94dc"
            ]
        ]
    },
    {
        "id": "bef9bc9a93420fb3",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 32,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Rainfall One hour",
        "label": "mm/1 hour",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 540,
        "wires": []
    },
    {
        "id": "c7864b1be5dd1957",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 42,
        "width": 4,
        "height": 3,
        "label": "Rainfall One hour(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "13a2c310c33c94dc",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 52,
        "width": 4,
        "height": 3,
        "label": "Rainfall One hour(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "37fbf00684db403d",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar RFO = parseFloat(output[14]);\nvar msg = {payload:RFO};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 680,
        "wires": [
            [
                "761a33909e687dc5",
                "855b67b2389d5f04",
                "4ac53d47d88e8418"
            ]
        ]
    },
    {
        "id": "761a33909e687dc5",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 33,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Rainfall 24 hour",
        "label": "mm/24H",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1140,
        "y": 680,
        "wires": []
    },
    {
        "id": "855b67b2389d5f04",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 43,
        "width": 4,
        "height": 3,
        "label": "Rainfall 24 hour(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "4ac53d47d88e8418",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 53,
        "width": 4,
        "height": 3,
        "label": "Rainfall 24 hour(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "cba8d42266dc1412",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar tempO = parseFloat(output[15]);\nvar msg = {payload:tempO};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 820,
        "wires": [
            [
                "df1d9f1d67f2b242",
                "359e4c3f25699854",
                "db2e94be7d77df28"
            ]
        ]
    },
    {
        "id": "8504141682bcdd67",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar humiO = parseFloat(output[16]);\nvar msg = {payload:humiO};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 940,
        "wires": [
            [
                "782a64dbc432997e",
                "40103f3e8fc134f5",
                "c0e8a797ccd6a666"
            ]
        ]
    },
    {
        "id": "df1d9f1d67f2b242",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Out Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1170,
        "y": 820,
        "wires": []
    },
    {
        "id": "782a64dbc432997e",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Out Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 940,
        "wires": []
    },
    {
        "id": "359e4c3f25699854",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 15,
        "width": 4,
        "height": 3,
        "label": "Out Temperature(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "40103f3e8fc134f5",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 16,
        "width": 4,
        "height": 3,
        "label": "Out Humidity(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "db2e94be7d77df28",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 25,
        "width": 4,
        "height": 3,
        "label": "Out Temperature(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "c0e8a797ccd6a666",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 26,
        "width": 4,
        "height": 3,
        "label": "Out Humidity(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "b2ebf7a6ee2d1087",
        "type": "function",
        "z": "3124b3b301bd9c17",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar BarP = parseFloat(output[17]);\nvar msg = {payload:BarP};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1080,
        "wires": [
            [
                "e2fd86bd32b9e3de",
                "4ec6eb11bb4b2cc2",
                "3bd042990e7edd41"
            ]
        ]
    },
    {
        "id": "e2fd86bd32b9e3de",
        "type": "ui_gauge",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 37,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Bar Pressure",
        "label": "hPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 1080,
        "wires": []
    },
    {
        "id": "4ec6eb11bb4b2cc2",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 47,
        "width": 4,
        "height": 3,
        "label": "Bar Pressure(H)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "3bd042990e7edd41",
        "type": "ui_chart",
        "z": "3124b3b301bd9c17",
        "name": "",
        "group": "46bcb31eb8b30728",
        "order": 57,
        "width": 4,
        "height": 3,
        "label": "Bar Pressure(D)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "b96171cbce8d1834",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "020df726c8df7f6f",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "34a17506bbfd5831",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "7d106fba8fa9e75a",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "b510d92b281e3091",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "beaeb3ec33af809e",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "5a70e674f8050dfd",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "51942877178412d9",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "aa3b565d9925e032",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "04482e19ea115791",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 38,
        "width": 2,
        "height": 1
    },
    {
        "id": "bc488b409b3c8872",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 39,
        "width": 2,
        "height": 1
    },
    {
        "id": "b3d5391423ecd1b3",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 40,
        "width": 2,
        "height": 1
    },
    {
        "id": "acd4370904a42eb3",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 48,
        "width": 2,
        "height": 1
    },
    {
        "id": "42477832ce2e24a7",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 49,
        "width": 2,
        "height": 1
    },
    {
        "id": "676722d67762cfe5",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 50,
        "width": 2,
        "height": 1
    },
    {
        "id": "20310e6c33e73d38",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 58,
        "width": 2,
        "height": 1
    },
    {
        "id": "e8f359882f8f9030",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 59,
        "width": 2,
        "height": 1
    },
    {
        "id": "f3091bb33e5773a3",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 60,
        "width": 2,
        "height": 1
    },
    {
        "id": "5ffaa541652ca0c2",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 64,
        "width": 18,
        "height": 1
    },
    {
        "id": "e0977e4841742492",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 65,
        "width": 18,
        "height": 1
    },
    {
        "id": "ff1e58f476d50e7a",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 66,
        "width": 18,
        "height": 1
    },
    {
        "id": "888d915c2389fa87",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 70,
        "width": 18,
        "height": 1
    },
    {
        "id": "5543856065a53ca2",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 71,
        "width": 18,
        "height": 1
    },
    {
        "id": "08a7faec0746e3a5",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 72,
        "width": 18,
        "height": 1
    },
    {
        "id": "ada9673bfd76cc80",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 76,
        "width": 18,
        "height": 1
    },
    {
        "id": "1c6d7e240fa9eae4",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 77,
        "width": 18,
        "height": 1
    },
    {
        "id": "31bba29cfd3b80aa",
        "type": "ui_spacer",
        "z": "3124b3b301bd9c17",
        "name": "spacer",
        "group": "46bcb31eb8b30728",
        "order": 78,
        "width": 18,
        "height": 1
    },
    {
        "id": "90c2d770290e3da8",
        "type": "serial-port",
        "serialport": "COM23",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "46bcb31eb8b30728",
        "type": "ui_group",
        "name": "SmartFarm_VPD",
        "tab": "0131207d734e7e45",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0131207d734e7e45",
        "type": "ui_tab",
        "name": "SmartFarm_VPD",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
